RUN__HOST=localhost
RUN__PORT=8080
RUN__RELOAD=1

DB__USER=user
DB__NAME=db
DB__HOST=localhost
DB__PORT=5432
DB__PASSWORD_FILE=secrets/db_password.txt
DB__ECHO=0
DB__ECHO_POOL=0
DB__POOL_SIZE=5
DB__MAX_OVERFLOW=10